<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name"/>
        <label for="description">Description:</label>
        <input type="text" name="description"/>
        <input type="submit" value="Add scientist"/>
    </form>
</body>
</html>